body{
  background: url('Assets/background.jpg');
  background-size: percentage 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

header{
  margin-bottom: 20px;
}

.btn-primary,.reset{
  background-color: ##E1C3E9;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 30px;
  padding: 20px;
  margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
  background-color: #E1C3E9
;
}

.content {
  width: 800px;
  background: black;
  color: white;
  margin-bottom: 30ps;
  text-align: center:;

}

.container{
  margin-top: 50px;
  text-align: center;
  height: 100%;
  width: 700px;

}

h2, #message, #finalMessage{
  font-family: 'Itim', cursive;
}

.thisChoice:hover{
  background-color: #E1C3E9
;
  color: white;
  padding: 10px;
}

#gif{
  margin: 30px;
}

@media screen and (max-width:640px){
  .container{
    width: 500px;
    margin-top: 200px;
    size: 200%;
  }

  .content: {
    width: 500px;
    margin-top: 200px;
    size: 200%;
  } 
}